{% extends 'index/index.html' %}
{% load static %}

{% block content %}

<div class="page-header mt-3"><h2>Trending News</h2></div><hr>

{% for blog in blogs %}
<div class="card mb-5">
<h2>{{blog.title}}</h2>
<p style="color:grey">Category: {{blog.category}}</p>
<div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <img src='{{ blog.image.url }}' alt="picture" width="100%" height="300px"  />
        </div>
        </div>
<p>{{blog.body|truncatechars:300}}</p>
<a class="btn btn-primary" href="/news/details/{{blog.id}}" role="button">Read more</a>
</div>
{% endfor %}

{% endblock  %}